.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.yellow {
    background: #e5deaa;
}

.yellow-text {
    color: darkslateblue;
}

.grey {
    background: #9195A0;
}