.superInput {
    border: 3px solid #173e62;
    background: #46839b;
    border-radius: 5px;
    font-weight: 700;
    outline: none;
}

.errorInput {
    border: 3px solid #5e0f0f;
    background: #e08888;
    border-radius: 5px;
    outline: none;
}

.error {
    color: #b6133f;
    display: block;
    height: 25px;
}

.blue {
    color: #1d6a0d;
}
