.blue {
    background-color: #709cd7;
    border: 3px solid #18509b;
    border-radius: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: #b6133f;
}

.btn {
    color: #A5E800;
}

.checkbox:checked {
    opacity: .5;
}